<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<display-name>eID Digital Signature Service Web Application</display-name>

	<listener>
		<listener-class>be.fedict.eid.dss.webapp.StartupServletContextListener</listener-class>
	</listener>

	<!-- JBoss Seam -->
	<listener>
		<listener-class>org.jboss.seam.servlet.SeamListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>Seam Resource Servlet</servlet-name>
		<servlet-class>org.jboss.seam.servlet.SeamResourceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Seam Resource Servlet</servlet-name>
		<url-pattern>/seam/resource/*</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>Seam Filter</filter-name>
		<filter-class>org.jboss.seam.servlet.SeamFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Seam Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- JBoss Richfaces -->
	<context-param>
		<param-name>org.richfaces.SKIN</param-name>
		<param-value>DEFAULT</param-value>
	</context-param>
	<context-param>
		<param-name>org.ajax4jsf.VIEW_HANDLERS</param-name>
		<param-value>com.sun.facelets.FaceletViewHandler</param-value>
	</context-param>

	<!-- Facelets -->
	<context-param>
		<param-name>javax.faces.DEFAULT_SUFFIX</param-name>
		<param-value>.xhtml</param-value>
	</context-param>
	<context-param>
		<param-name>facelets.DEVELOPMENT</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.DISABLE_FACELET_JSF_VIEWHANDLER</param-name>
		<param-value>true</param-value>
	</context-param>

	<!-- JSF -->
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.seam</url-pattern>
	</servlet-mapping>

	<!-- eID DSS Browser POST Profile landing page -->
	<servlet>
		<servlet-name>SignatureRequestProcessor</servlet-name>
		<servlet-class>be.fedict.eid.dss.webapp.SignatureRequestProcessorServlet</servlet-class>
		<init-param>
			<param-name>NextPage</param-name>
			<param-value>view-xml.seam</param-value>
		</init-param>
		<init-param>
			<param-name>FinishPage</param-name>
			<param-value>post-response.seam</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>SignatureRequestProcessor</servlet-name>
		<url-pattern>/dss-post-entry</url-pattern>
	</servlet-mapping>

	<!-- Document viewer servlet -->
	<servlet>
		<servlet-name>DocumentViewer</servlet-name>
		<servlet-class>be.fedict.eid.dss.webapp.DocumentViewerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DocumentViewer</servlet-name>
		<url-pattern>/document.xml</url-pattern>
	</servlet-mapping>

	<!-- eID Applet -->
	<servlet>
		<servlet-name>AppletServiceServlet</servlet-name>
		<servlet-class>be.fedict.eid.applet.service.AppletServiceServlet</servlet-class>
		<init-param>
			<param-name>SignatureService</param-name>
			<param-value>fedict/eid/dss/XMLSignatureServiceBean</param-value>
		</init-param>
		<init-param>
			<param-name>IncludeCertificates</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>AppletServiceServlet</servlet-name>
		<url-pattern>/applet-xml-service</url-pattern>
	</servlet-mapping>

	<!-- DSS Protocol Servlets -->
	<servlet>
		<servlet-name>ProtocolEntryServlet</servlet-name>
		<servlet-class>be.fedict.eid.dss.webapp.ProtocolEntryServlet</servlet-class>
		<init-param>
			<param-name>UnknownProtocolPage</param-name>
			<param-value>/unknown-protocol.seam</param-value>
		</init-param>
		<init-param>
			<param-name>ProtocolErrorPage</param-name>
			<param-value>/protocol-error.seam</param-value>
		</init-param>
		<init-param>
			<param-name>ProtocolErrorMessageSessionAttribute</param-name>
			<param-value>dssProtocolErrorMessage</param-value>
		</init-param>
		<init-param>
			<param-name>NextPage</param-name>
			<param-value>/view-xml.seam</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProtocolEntryServlet</servlet-name>
		<url-pattern>/protocol/*</url-pattern>
	</servlet-mapping>

</web-app>
