html, body, div, ul, li, form, span, p, img, fieldset, legend, label, h1, h2, h3, h4, h5, h6, table, tbody, thead, tfoot, tr, th, td, textarea {
    margin: 0;
    padding: 0;
    border: none;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
    background-color: #A9AEB1;
    margin: 0;
}

#wrapper {
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-left: 1px solid #777;
    border-right: 1px solid #777;
}

h1 {
    font-size: 120%;
}

h2 {
	color: #369;
	font-size: large;
	font-family: Arial;
}

h3 {
	color: #369;
	font-size: medium;
	font-family: Arial;
	font-style: italic;
}

#logo {
}

#language {
}

#header {
	margin: 0 auto;
    background-color: white;
}

#menu {
	height: 50px;
	background-color: #e0e0e0;
	margin: 0 auto;
}

#menu ul {
	padding: 13px 0 0 20px;
	list-style: none;
}

#menu li {
	float: left;
}

#menu a {
	display: block;
	margin-right: 3px;
	margin-left: 3px;
	padding: 5px 20px 7px 20px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #369;
}

#menu a:hover {
	background: #369;
    color: white;
	text-decoration: none;
	cursor: pointer;
}

.selected {
	background: #369;
}

.selected a {
    color: white !important;
}

#content {
	margin: 20px auto;
	color: #303030;
    background-color: white;
    padding-left: 1.0em;
    padding-right: 1.0em;
}

#footer {
    padding: 20px;
    background-color: #999;
    color: white;
    border-bottom: 1px solid #777;
}

.title {
    border-bottom: 1px solid #B5C5CE;
    color: #369;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    padding-bottom: 0.1em;
}

div.title {
    color: #369;
}

.dssFrame {
    border: 0;
}